{% extends "identity_matrix/layout.html" %}

{% block title %}
CDoT CADD - Identity Matrix Calculator
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <form action="{% url 'matrix' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="input_file">
                    Upload a text file with UniProt IDs (one per line)
                </label>
                <br>
                <input type="file" name="input_file" id="input_file" accept=text>
            </div>
            <div class="form-group">
                <label for="input_text">
                    or paste UniProt IDs here
                </label>
                <input type="text" name="input_text" id="input_text"
                    placeholder="separated by whitespace"
                    autocomplete="off" autofocus>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
